body { 
    height: 100%;
    margin:0px;
    background: url("/static/images/background.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif !important;

}  

 @font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600) format('woff2');
}

h1 {
	font-family: 'Source Sans Pro', sans-serif !important;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif !important;
}

a {
	color: #1892c6 !important ;
}

.app-form {
	
}

.app-form h2 {
	text-align: center;
	margin-top: 0px;
	padding-top: 25px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.app-dialogue {
	border-top-style: solid;
	border-color: #d5fd7d;
	border-width: 20px;
	background-color: #fff;
	padding: 20px;
}

.app-dialogue-title {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 16px;
	text-align: center;
	margin-bottom: 5px;
}

.app-body {
	margin-bottom: 20px;
	padding-bottom: 40px;
	background-color: #fff;
	margin-top: 40px;
	border-top-style: solid;
	border-color: #fde57d;
	border-width: 20px;
}

.sidebar {
	margin-top: 80px;
	position: fixed;

}

.sidebar-info {
	margin-top: 30px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #fde57d;
	width: 150px;
	color: #262646;

}

.sidebar-info-title {
	text-transform: uppercase;
	font-weight: 700;
	
}

.sidebar-info-text {
	font-size: 12px;
}

.sidebar-info-text a {
	font-size: 12px;
}

.sidebar-sponsor {
	margin-top: 30px;
}

.login-btn {
	margin-top: 30px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	background-color: #fde57d;
	outline: none;
	border: 0px;
	width: 150px;
	font-weight: 700;

}

a {
	color: #1892c6;
	text-decoration: none;
}

a:hover {
	color: #262646;
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

.login-btn:hover {
	background-color: #B7A65A;
	cursor: pointer;
}

.login-btn a:hover {
	text-decoration: none;
	cursor: pointer;
}

textarea {
  resize: none;
  overflow: auto;
  width: 100%;
}


.questions-long {
	margin-top: 25px;
}

.question-long {
	margin-bottom: 15px;
}

.question-primary {
	width: 100%;
	margin-bottom: 20px;
}

.question-title {
	text-transform: uppercase;
}

.resume {
	margin-top: 10px;
}

.resume-label {
	text-transform: uppercase;
	font-size: 20px;
}

.file-input {
	text-transform: uppercase;
	display: inline-block;
	background: #a23b3a;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
	color: #fff;
	border: 0px;
}

.file-input:hover {
  background-color:  #752A2A;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '+ Add New File';
  text-transform: uppercase;
  display: inline-block;
  background: #a23b3a;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  color: #fff;
}
.custom-file-input:hover::before {
  background-color:  #752A2A;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.save-area {
	margin-top: 20px;
	margin-bottom: 20px;
}
.submit-btn {
	font-weight: 700;
	font-size: 14pt;
	text-transform: uppercase;
	background-color: #fde57d;
	color: #262646;
	outline: none;
	border: 0px;
}

.submit-btn:hover {
	background-color: #B7A65A;
	cursor: pointer;
}

.signup {
	margin-top: 80px;
	line-height: 1;
}

.signup-title {
	text-transform: uppercase;
	color: #fde57d;
	font-size: 100pt;
	text-align: center;
}
.signup-subtitle {
	text-transform: uppercase;
	color: #fde57d;
	font-size: 31pt;
	text-align: center;
	margin-top: -20px;
}

.signup-area {
	margin-top: 20px;
}

.signup-btn {
	font-weight: 600;
	font-size: 12pt;
	text-transform: uppercase;
	background-color: #fde57d;
	color: #262646;
	outline: none;
	border: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	width: 100%;
}

.signup-btn a:focus {
	text-decoration: none !important;
	color: #262646 !important;
}

.signup-btn a:hover {
	text-decoration: none !important;
	color: #262646 !important;
}

.signup-btn:hover {
	background-color: #B7A65A;
	text-decoration: none;
}


.title {
	font-size: 16px;
	color: #fde57d;
	text-transform: uppercase;
	font-style: italic;
	outline: none;
	border: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	font-size: 12pt;
    text-align: center;
    overflow: hidden;
    line-height: 2em;
}
.title span {
  display: inline-block;
  position: relative;
}
.title span:before,
.title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid;
  top: 50%;
  width: 165px;
}
.title span:before {
  right: 100%;
  margin-right: 15px;
}
.title span:after {
  left: 100%;
  margin-left: 15px;
}

.signup-field {
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.signup-btn {
	font-weight: 700;
	font-size: 14pt;
	text-transform: uppercase;
	background-color: #fde57d;
	color: #262646;
	outline: none;
	border: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.signup-btn:hover {
	background-color: #B7A65A;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}


