{% extends "base.html" %}

{% block title %}Rushee Application{% endblock %}

{% block content %}



<div class="app">
	
	{% include "sidebar.html" %}
		<div class="col-md-6">
			<div class="app-form">
				{% if form.errors %}
					<div class="app-dialogue">
						<div class="app-dialogue-title">
							Poooop
						</div>
						<div class="app-dialogue-body">
							You've successfully saved your application. You can make changes up until the deadline (Sunday, September 14 th @ 6pm), at which point your answers will be automatically submitted. Thank you for your interest in Alpha Kappa Psi at Carnegie Mellon.
						</div>
					</div>
				{% endif %}
				{% if splash %}
					<div class="app-dialogue">
						<div class="app-dialogue-title">
							Save Successful
						</div>
						<div class="app-dialogue-body">
							You've successfully saved your application. You can make changes up until the deadline (Sunday, September 14 th @ 6pm), at which point your answers will be automatically submitted. Thank you for your interest in Alpha Kappa Psi at Carnegie Mellon.
						</div>
					</div>
				{% endif %}
				<div class="app-body">
				    <h2 class="text-center">Alpha Kappa Psi Application</h2>
				    {{ form.errors }}
				    <form class="form-horizontal" action="/application/" method="post" enctype="multipart/form-data">
				        {% csrf_token %}
				        <div class="row">
							<div class="col-md-4 col-md-offset-2">
								{% if not rushee.picture %}
									<input  id="pic" type="image" src="/static/images/Face.png" width="210"/>{{ form.picture }}
								{% else %}
									<input  id="pic" type="image" src="/media/{{ rushee.picture }}" width="210"/>{{ form.picture }}
								{% endif %}
								<script type="text/javascript">
									function readURL(input) {

									    if (input.files && input.files[0]) {
									        var reader = new FileReader();

									        reader.onload = function (e) {
									            $('#pic').attr('src', e.target.result);
									        }

									        reader.readAsDataURL(input.files[0]);
									    }
									}

									$("#imgInp").change(function(){
									    readURL(this);
									});
								</script>
							</div>
			        		<div class="col-md-4">
			        			<span class="question-primary"> {{ form.first_name }} </span>
			        			<span class="question-primary"> {{ form.last_name }} </span>
			        			<span class="question-primary"> {{ form.phone_num }} </span>
			        			<span class="question-primary"> {{ form.major}} </span>
			        			<span class="question-primary"> {{ form.gpa }} </span>
			        		</div>
		        		</div>
		        		<div class="row">
		        			<div class="col-md-8 col-md-offset-2">
			        			<div class="questions-long">
				        			{% for field in form %}
				        				<div class="question-long">
											{% if "id_q" in field.id_for_label %}
												<!-- <span class="question-title"><strong> Question {{ forloop.counter }} </strong></span>
												<br> -->
												{{ field.label_tag }}
												{{ field }}
											{% endif %}
				        				</div>
				        			{% endfor %}
				        		</div>
				        	</div>
		        		</div>
		        		<div class="row">
		        			<div class="resume">
			        			<div class="col-md-2 col-md-offset-2">
			        				<span class="resume-label">{{ form.resume.label_tag }}</span>
			        			</div>
			        			<div class="col-md-3">
			        				{{ form.resume }}
			        				<button class="file-input" id="image_alt">+ Add New File</button>
			        				<script type="text/javascript">
			        					document.getElementById('image_alt').addEventListener('click',function(){
			        					    document.getElementById('image').click();
			        					});
			        				</script>
			        			</div>
			        			<div class="col-md-3">
			        				<div class="resume-name">
			        					{{rushee.resume}}
				        				<script>

				        					$( "input[name='resume']" ).change(function() {
				        						console.log("fdjfkjdn")
				        						pathName = $("input[name='resume']").val();
				        						fileName = pathName.match(/[^\/\\]+$/);
				        					  	$(".resume-name").text(fileName);
				        					});

				        				</script>
				        			</div>
			        			</div>
			        		</div>
		        		</div>
		        	</div>
	        		<div class="row">
	        			<div class="col-md-4 col-md-offset-4">
	        				<div class="save-area">
	        					<button id="save" type="submit" value="save" data-toggle="modal" data-target=".bs-example-modal-sm" class="signup-btn btn-block">Save</button>
	        					<script type="text/javascript">
	        						// $("#save").click(function() {
	        						// 	alert("fdjskln");
	        						// 	$(".app-dialogue").hide();
	        						// })
	        					</script>
	        				</div>
	        			</div>
	        		</div>
		        		
			    </form>
			</div>
		</div>
	</div>
</div>

{% endblock %}