{% extends "base.html" %}

{% block title %}Rushee Application{% endblock %}

{% block content %}



<div class="app">
{% include "sidebar.html" %}
	<div class="col-md-6">
		<div class="app-form">
			<div class="app-body">
			    <h2 class="text-center">Alpha Kappa Psi Application</h2>
			    <div class="row">
	        		<div class="col-md-10 col-md-offset-1">
			    		<p>Thank you for applying for membership to Alpha Kappa Psi. The application portal is now closed for this semester. If you are interested in upcoming recruitments periods, please contact <a href="mailto:nlam@andrew.cmu.edu" target="_top">Nicholas Lam.</a></p>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}