{% extends "base.html" %}
{% block title %}Alpha Kappa Psi Fall Rush{% endblock %}

{% block content %}

<div class="row">
	{% include "sidebar.html" %}
	<div class="col-md-3 col-md-offset-1">
		<div class="signup">
			<h1 class="signup-title">
				Rush
			</h1>
			<h3 class="signup-subtitle">
				Alpha Kappa Psi
			</h3>
			<div class="signup-area">
				<a href="/login"><div class="signup-btn">Log In</div></a>
				<a><div class="title"><span>Or</span></div></a>
				<a href="/signup"><div class="signup-btn">Sign Up</div></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}