{% extends "base.html" %}
{% block title %}{{ rushee.first_name }} {{ rushee.last_name }}{% endblock %}

{% block content %}
{% include "sidebar.html" %}
<div class="col-md-6 col-md-offset-1">
	<div class="app-form">
		<div class="app-body">
		<h2 class="text-center">{{ rushee.first_name }} {{rushee.last_name}}</h2>
	        <div class="row">
				<div class="col-md-4 col-md-offset-2">
					{% if rushee.picture %}
						<img id="pic" src="/media/{{ rushee.picture }}" width="210"/>
					{% else %}
						<img id="pic" src="/static/images/Face.png" width="210"/>
					{% endif %}
				</div>
        		<div class="col-md-4">
        			<strong>Name:</strong>
        			<div class="question-primary"> {{ rushee.first_name }} {{ rushee.last_name }} </div>
        			<strong>Phone Number:</strong>
        			<div class="question-primary"> {{ rushee.phone_num }} </div>
        			<strong>Year:</strong>
        			<div class="question-primary"> {{ rushee.grad_class}} </div>
        			<strong>Major:</strong>
        			<div class="question-primary"> {{ rushee.major}} </div>
        			<strong>GPA:</strong>
        			<div class="question-primary"> {{ rushee.gpa }} </div>
        		</div>
    		</div>
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<p class="gallery-question" class="gallery-question">Describe your business interests.</p>
    				<p>{{ rushee.q1 }}</p>
    				<p class="gallery-question">Describe something meaningful you took away from a recruitment event or an interaction with a brother that makes you want to be a part of Alpha Kappa Psi.</p>
    				<p>{{ rushee.q2 }}</p>
    				<p class="gallery-question">What specifically do you hope to gain from membership in Alpha Kappa Psi?</p>
    				<p>{{ rushee.q3 }}</p>
    				<p class="gallery-question">(Optional) If there is additional information that you would like to share with us, please include it here- interesting facts, miscellaneous thoughts, experiences, or talents are welcome."</p>
    				<p>{{ rushee.q4 }}</p>
    				<embed src="/media/{{ rushee.resume }}" width="440px." height="500px">
	        	</div>
    		</div>
    		
		</div>
	</div>
</div>
{% endblock %}