{% extends "base.html" %}
{% block title %}{{ rushee.first_name }} {{ rushee.last_name }}{% endblock %}

{% block content %}
{% include "sidebar.html" %}
<div class="col-md-6 col-md-offset-1">
	<div class="app-form">
		<div class="app-body">
			<h2 class="text-center">{{ rushee.first_name }} {{ rushee.last_name }}</h2>
			<div class="row">
        		<div class="col-md-10 col-md-offset-1">
					<img src="/media/{{ rushee.picture }}" width="210" />
					<p>Phone number: {{ rushee.phone_num }}</p>
					<p>Graduating Class: {{ rushee.grad_class }}</p>
					<p>Major: {{ rushee.major }}</p>
					<p>GPA: {{ rushee.gpa }}</p>
					<p class="gallery-question" class="gallery-question">Describe your business interests.</p>
					<p>{{ rushee.q1 }}</p>
					<p class="gallery-question">{{ form_questions.first }}</p>
					<p>{{ rushee.q2 }}</p>
					<p class="gallery-question">What specifically do you hope to gain from membership in Alpha Kappa Psi?</p>
					<p>{{ rushee.q3 }}</p>
					<p class="gallery-question">Anything else you'd like to add? This is to be used if there is anything else you would like to tell us that we have not asked you about on the application. If you believe that there is some fact, experience, talent, thought, or whatever which just did not seem to fit into our application but which you would like us to take into consideration, let us know about it here. (Optional)</p>
					<p>{{ rushee.q4 }}</p>
					<h2>Resume</h2>
					<embed src="/media/{{ rushee.resume }}" width="400px" height="500px">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}