<div class="col-md-3">
		<div class="sidebar">
			<a href="/"><img src="/static/images/logo.png" width="150"></a>
			{% if user.is_authenticated %}
				<a href="/logout"><div class="login-btn">Logout</div></a>
			{% endif %}
			<div class="sidebar-info">
				<span class="sidebar-info-title">Application Deadline</span>
				<span class="sidebar-info-text">{{ DUE_DATE | safe }}</span>
				<br><br>
				<span class="sidebar-info-title">Questions?</span>
				<span class="sidebar-info-text">Contact your AKPsi Rep or <a href="mailto:nlam@andrew.cmu.edu" target="_top">Nicholas Lam.</a></span>
			</div>
			<div class="sidebar-sponsor">
				<img src="/static/images/BNY_logo.png" width="150">
			</div>
		</div>
	</div>