{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="row">
	{% include "sidebar.html" %}
	<div class="col-md-3 col-md-offset-2">
		<div class="signup">
			<h1 class="signup-title">
				Rush
			</h1>
			<h3 class="signup-subtitle">
				Alpha Kappa Psi
			</h3>
			<div class="signup-area">
				{% if form.errors %}
					<div class="signup-errors">
						{{ form.errors }}
					</div>
				{% endif %}
				<div class="signup_form">
				    <form action="" method="post">

				        {% csrf_token %}
				        {% for field in form %}
				        	{{field}}
				        {% endfor %}

				        <button type="submit" value="Submit" class="entry-btn btn-block">Sign Up</button>
				    </form>
				</div>
					<script type="text/javascript">
					$( ".signup-btn btn-block" ).click(function() {
						// $( ".signup-errors" ).change(function() {
						//   alert( "Handler for .change() called." );
						// });
						alert( "Handler for .change() called." );
					});
					</script>
			</div>
		</div>
	</div>
</div>


{% endblock %}